@import url('https://fonts.googleapis.com/css?family=Oswald:400|Droid+Serif:400,400i');

body{
	background: #eee;
	font font-family: 'Droid Serif', serif;
}
.container{
	max-width: 800px;
}
.head{
	position: sticky;
	top: 0;
}
h1{
	font-family: oswald, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;	
}
display{
	margin: 2px 0px;
	padding: 5px;		
}
.online{
	background: #aaccbb;	
}
.offline{
	background: #556699;
}
.logo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 3px solid #eee;
}
#streaming {
  font-style: italic;
}
#name, #streaming {
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    margin: 10px auto;
  }  
  #name, #streaming {
    line-height: 50px;
    height: 50px;
  } 
}